.hero-title {
  font-family: var(--font-mono);
  font-weight: 400;
  font-style: Regular;
  font-size: 64px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: -4%;
  text-transform: uppercase;
}

.hero-subtitle {
  font-family: var(--font-rotobo-mono);
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
}

.bento-title {
  font-family: var(--font-pixel);
  font-weight: 700;
  font-style: Bold;
  font-size: 61px;
  leading-trim: NONE;
  line-height: 84%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
}

.cross-card-content {
  font-family: var(--font-pixel);
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;

  background: linear-gradient(101.01deg, #ffffff 19.67%, #969696 80.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.cross-card-content1 {
  font-family: var(--font-pixel);
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: -0.96%;
}

.cross-card-desc {
  font-family: var(--font-rotobo-mono);
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
}

.feature-item-title {
  font-family: var(--font-pixel);
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.leading-prefix {
  font-family: var(--font-pixel);
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.cta-logo {
  font-weight: 500;
  font-style: medium;
  font-size: 48.52px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.cta-title {
  font-family: var(--font-mono);
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
}

.cta-desc {
  font-family: var(--font-rotobo-mono);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
}

.dashed-border-4-4 {
  position: relative;
  padding: 1px;
  opacity: 1;
}

.dashed-border-4-4::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff33;
  mask:
    repeating-linear-gradient(90deg, #0000 0, #0000 4px, #000 4px, #000 8px) 0
      0 / 100% 1px,
    repeating-linear-gradient(0deg, #0000 0, #0000 4px, #000 4px, #000 8px) 100%
      0 / 1px 100%,
    repeating-linear-gradient(90deg, #0000 0, #0000 4px, #000 4px, #000 8px) 0
      100% / 100% 1px,
    repeating-linear-gradient(0deg, #0000 0, #0000 4px, #000 4px, #000 8px) 0
      0 / 1px 100%;
  mask-repeat: no-repeat;
  pointer-events: none;
}

.dashed-border-4-4-t {
  position: relative;
  padding: 1px;
  opacity: 1;
}

.dashed-border-4-4-t::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff33;
  mask: repeating-linear-gradient(90deg, #0000 0, #0000 4px, #000 4px, #000 8px)
    0 0 / 100% 1px;
  mask-repeat: no-repeat;
  pointer-events: none;
}

.dashed-border-4-4-r {
  position: relative;
  padding: 1px;
  opacity: 1;
}

.dashed-border-4-4-r::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff33;
  mask: repeating-linear-gradient(0deg, #0000 0, #0000 4px, #000 4px, #000 8px)
    100% 0 / 1px 100%;
  mask-repeat: no-repeat;
  pointer-events: none;
}

.footer-item-title {
  font-family: var(--font-rotobo-mono);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.footer-item-label {
  font-family: var(--font-rotobo-mono);
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #686868;
}
