.hero-title {
  font-family: var(--font-mono);
  font-weight: 400;
  font-style: Regular;
  font-size: 64px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: -4%;
  text-transform: uppercase;
}

.hero-subtitle {
  font-family: var(--font-rotobo-mono);
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
}
